.wrapper {
  padding-right: 20px;
  padding-left: 20px;
  max-width: 1240px;
  margin: 0 auto;
  width: 100%;
}

/* *Main page link */

.main-page {
  font-family: var(--ff-staatliches);
  font-size: var(--fs-base);
  margin-left: 10px;
  font-weight: 400;
}

/* *Header */
.header-wrapper {
  justify-content: space-between;
  padding-bottom: 14px;
  align-items: center;
  padding-top: 14px;
  display: flex;
}

/* *Language + Navigation */

.header-nav-block {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav-block-language {
  font-family: var(--ff-tourney);
  font-size: var(--fs-base);
  text-transform: uppercase;
  letter-spacing: 0.04em;
  margin-right: 50px;
  line-height: 18px;
  font-weight: 600;
}

.navigation-list {
  display: flex;
}

.navigation-list-item {
  font-family: var(--ff-staatliches);
  font-size: var(--fs-base);
  letter-spacing: 0.03em;
  color: var(--c-black);
  margin-right: 10px;
  line-height: 28px;
  font-weight: 400;
}

.navigation-list-item:last-child {
  margin-right: 0;
}

/* *Main texts*/
.main-wrapper {
  margin-bottom: 40px;
  margin-top: 70px;
}

/* *Chapters */
.chapter {
  margin-bottom: 70px;
}

.chapter:last-child {
  margin-bottom: 0;
}

.chapter-name {
  align-items: flex-start;
  justify-content: start;
  margin-bottom: 40px;
  display: flex;
}

.chapter-title {
  font-family: var(--ff-francois-one);
  font-size: var(--fs-large);
  text-transform: uppercase;
  letter-spacing: 0.04em;
  margin-right: 10px;
  line-height: 48px;
  font-weight: 400;
}

.chapter-subtitle {
  font-family: var(--ff-farro);
  font-size: var(--fs-small);
  letter-spacing: 0.04em;
  line-height: 20px;
  font-weight: 300;
}

.chapter-text {
  font-family: var(--ff-pt-sans);
  font-size: var(--fs-medium);
  line-height: 48px;
  font-weight: 400;
}

/* *Chapter 3 */
.text-item {
  margin-bottom: 40px;
}

.text-item:last-child {
  margin-bottom: 0;
}

/* *Text styles */
.underlined-text {
  text-decoration-line: underline;
}

.italic-text {
  font-style: italic;
}

.bold-text {
  font-weight: 700;
}

.colored-text {
  background-color: var(--c-grey);
}

.mirror-text {
  transform: rotateY(180deg);
}
