.wrapper {
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.main-page {
  color: var(--c-light-gray);
}

.main-page:hover {
  color: var(--c-gray);
}

/* *Header */
.header-wrapper {
  background-color: var(--c-white);
  justify-content: space-between;
  align-items: center;
  position: sticky;
  display: flex;
  height: 100px;
  top: 0;
}

/* *Navigation */

.navigation-item {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 0.2em;
  color: var(--c-gray);
  margin-right: 60px;
  font-style: normal;
  line-height: 12px;
  font-weight: 400;
  font-size: 12px;
}

.navigation-item:last-child {
  margin-right: 0;
}

.navigation-item:hover {
  border-bottom: 1px solid var(--c-gray);
  border-top: 1px solid var(--c-gray);
  cursor: pointer;
}

/* *Main block*/

/* *Headline */
.projects-headline {
  border-bottom: 1px solid var(--c-pale-gray);
  margin-bottom: 30px;
}

.projects-headline-text {
  color: var(--c-light-gray);
  text-transform: uppercase;
  margin-bottom: 30px;
  font-style: normal;
  line-height: 64px;
  font-weight: 300;
  font-size: 64px;
}

.projects-headline-text-modified {
  color: var(--c-gray);
  font-weight: 700;
}

/* *Projects blocks */

.projects {
  margin-bottom: 100px;
}

/* Image */
.image {
  max-width: 670px;
}

/* Info */
.projects-item {
  background-color: var(--c-pale-gray);
  align-items: center;
  flex-direction: row;
  margin-bottom: 60px;
  display: flex;
}

.projects-item:last-child {
  margin-bottom: 0;
}

.projects-item-info {
  padding-right: 30px;
  padding-left: 30px;
  max-width: 500px;
}

.projects-item-info-headline {
  color: var(--c-light-gray);
  margin-bottom: 20px;
  font-style: normal;
  line-height: 40px;
  margin-top: 20px;
  font-weight: 300;
  font-size: 30px;
}

.projects-item-info-text {
  color: var(--c-black);
  margin-bottom: 40px;
  text-align: justify;
  font-style: normal;
  line-height: 25px;
  font-weight: 300;
  font-size: 16px;
}

/* *Button */

.button {
  align-items: center;
  margin-left: 30px;
  display: flex;
}

.button-text {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: var(--c-gray);
  margin-right: 12px;
  font-style: normal;
  line-height: 12px;
  margin-left: 50px;
  font-weight: 400;
  font-size: 12px;
}

.button-arrow {
  margin-right: 24px;
  height: 24px;
  width: 24px;
}

/* *Footer */
.footer {
  background-color: var(--c-gray);
  color: var(--c-white);
}

.footer-wrapper {
  justify-content: space-between;
  padding-bottom: 124px;
  align-items: center;
  padding-top: 58px;
  display: flex;
}

/* *Information block */

.footer-info-list-item {
  letter-spacing: 0.03em;
  margin-bottom: 15px;
  font-style: normal;
  line-height: 24px;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.footer-info-list-item:last-child {
  margin-bottom: 0;
}

.footer-info-list-item:hover {
  color: var(--c-light-gray);
}

/* *Contacts */

.footer-contacts-item {
  margin-bottom: 10px;
}

.footer-contacts-item:last-child {
  margin-bottom: 0;
}

.contact-icon {
  display: inline-block;
  margin-right: 5px;
  height: 16px;
}

.footer-map {
  margin: 22px;
}

.footer-contact {
  color: var(--c-white);
}

.footer-contact:hover {
  color: var(--c-light-gray);
}
