* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

h3 {
  font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
margin-bottom: 24px;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--c-white);
}

ul {
list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

button {
  background-color: var(--c-white);
  border: none;
  height: 45px;
}

button:hover {
  background-color: var(--c-light-gray);
  cursor: pointer;
}


