:root {
  --c-lisbon: rgba(51, 153, 204, 0.702);
  --c-paris: rgba(51, 204, 204, 0.702);
  --c-begrade: rgb(153, 102, 153, 0.7);
  --c-venice: rgba(194, 71, 71, 0.702);
  --c-tel-aviv: rgba(226, 103, 74, 0.7);
  --c-cair: rgb(255, 204, 102, 0.7);
  --c-ny: rgb(153, 204, 153, 0.7);
  --c-nd: rgb(102, 153, 153, 0.7);
  --c-sf: rgb(204, 102, 153, 0.7);
  --c-tokyo: rgb(51, 153, 102, 0.7);
  --c-sydney: rgb(102, 102, 153, 0.7);
  --c-border: #2782ae;
  --c-background: #2f9acd;
  --c-white: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all .1s ease-in;
}

body {
  background-color: var(--c-background);
  border: 20px solid var(--c-border);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid red;
  height: 100%;
  justify-content: center;
}

.header-title {
  font-family: "Lucida Sans Unicode";
  font-size: 21px;
  line-height: 25px;
}

.weather-table {
  list-style: none;
  text-align: center;
  background-color: aqua;
  font-size: 0;
}
.weather-table li {
  display: inline-block;
  font-family: "Lucida Sans Unicode";
  font-size: 22px;
  line-height: 26px;
  border: 1px solid #ffffff;
}

.small-tile {
  width: 25%;
}

.medium-tile {
  width: 50%;
}

.big-tile {
  width: 100%;
}

.small-tile,
.medium-tile,
.big-tile {
  padding-top: 26px;
  padding-bottom: 26px;
}

.city {
  margin-bottom: 4px;
}

.temperature,
.city {
  font-family: 'Lucida Sans Unicode'
  font-size: 22px;
  line-height: 26px;
  color: var(--c-white);
}

.temperature {
  margin-right: 10px;
  text-align: center;
}

.wi {
  color: var(--c-white);
  font-weight: 400;
font-size: 40px;
line-height: 60px;

}

.lisbon-city {
  background-color: var(--c-lisbon);
}

.paris-city {
  background-color: var(--c-paris);
}

.belgrade-city {
  background-color: var(--c-begrade);
}

.venice-city {
  background-color: var(--c-venice);
}

.telav-city {
  background-color:var(--c-tel-aviv);
}

.cair-city {
  background-color: var(--c-cair);
}

.ny-city {
  background-color: var(--c-ny);
}

.nd-city {
  background-color: var(--c-nd);
}

.sf-city {
  background-color: var(--c-sf);
}

.tokyo-city {
  background-color: var(--c-tokyo);
}

.sydney-city {
  background-color: var(--c-sydney);
}

.footer-text {
  font-family: "Lucida Sans Unicode";
  font-size: 16px;
  line-height: 19px;
}
