:root {
  /* Colors */
  --c-white: #e3eaf5;
  --c-blue: #213657;
  --c-blended: #9561dd;
  --c-lightblue: #4e71a8;

  /* Fonts */
  --f-weight-big: 700;
  --f-weight-small: 400;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.main {
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 970px;
  margin: 0 auto;
  display: flex;
}

/* *Sidebar */

.sidebar {
  background-color: var(--c-blue);
  padding-top: 40px;
  max-width: 350px;
}

.img {
  width: 100%;
  margin-bottom: 50px;
}

.contacts,
.tech-skills,
.soft-skills,
.lang {
  font-family: "'Montserrat', sans-serif";
  margin-bottom: 50px;
  margin-left: 40px;
}

.sidebar-title {
  color: var(--c-white);
  font-weight: var(--f-weight-big);
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}

/*Contacts */

.contacts-item {
  margin-bottom: 10px;
}

.contacts-link {
  color: var(--c-white);
}

.contacts-link:hover {
  color: var(--c-blended);
}

.contacts-pic {
  display: inline-block;
}

.pic {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

/* Skills plus Laanguages */

.list-item {
  color: var(--c-blended);
  padding-bottom: 4px;
  list-style-position: inside;
}

.list-text {
  color: var(--c-white);
}

/* *Main content */

.main-content {
  padding: 100px 90px;
  color: var(--c-blue);
}

/* *About */

.about,
.education,
.work {
  margin-bottom: 40px;
}

.about-position {
  font-weight: var(--f-weight-big);
  font-size: 18px;
  margin-bottom: 20px;
}

.about-name {
  font-weight: var(--f-weight-big);
  font-size: 45px;
  margin-bottom: 25px;
}

.about-info {
  font-weight: var(--f-weight-small);
  font-size: 16px;
  line-height: 24px;
  width: 400px;
  text-align: justify;
}

/* *Education */

.title {
  font-weight: var(--f-weight-big);
  font-size: 22px;
  margin-bottom: 10px;
}

.education-university {
  font-weight: var(--f-weight-big);
  font-size: 16px;
  color: var(--c-blended);
  margin-bottom: 12px;
}

.education-spec {
  font-weight: var(--f-weight-big);
  font-size: 14px;
  margin-bottom: 10px;
}

.period {
  font-weight: var(--f-weight-small);
  font-size: 12px;
  color: var(--c-lightblue);
}

/* * Work */

.work-company {
  margin-bottom: 20px;
}

.work-pos {
  font-weight: var(--f-weight-big);
  font-size: 16px;
  margin-bottom: 10px;
}

.work-organisation {
  font-weight: var(--f-weight-big);
  font-size: 16px;
  color: var(--c-blended);
}

.work-list {
  margin-top: 20px;
}

.work-list-style-type {
  color: var(--c-blended);
  padding-bottom: 8px;
  margin-left: 20px;
}

.work-list-style-type:last-child {
  padding-bottom: 0;
}

.work-list-item {
  color: var(--c-blue);
  font-weight: var(--f-weight-small);
  font-size: 14px;
}

/* Link */

.link {
  color: var(--c-blue);
  text-decoration: none;
}

.link:hover {
  color: var(--c-lightblue);
}
